.people-bg {
    background-image: url('/awge-city.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Position sous la bordure */
    z-index: 1;
  }
  
  .return-button-people {
    position: absolute;
    top: 8vw;
    left: 10vw;
    width: 5vw;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 10;
}

.people-menu {
    background-color: rgba(126, 126, 126, 0.75);
    width: 32vw;
    height: 35vh;
    position: relative;
    top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    z-index: 10;
}

.people-menu-header {
    color: rgba(255, 255, 255, 0.678);
    padding: 20px;
    font-size: 1.5em;
}

.people-menu-content {
    position: relative;
    width: 90%;
    height: 72%;
    display: flex;
    flex-direction: column;;
    align-items: center;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.685);
    z-index: 11;
}

.people-menu-content-item {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.678);
    padding: 1vh;
}

.people-copyright {
    position: relative;
    padding-top: 5px;
    font-size: 0.65em;
    line-height: 1.1;
    color: #ffffffa4;
    opacity: 90%;
  }

.people-copyright-container {
    position: relative;
    top: 7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}